.tag-lozenge {
  background-color: #64d3b7;
  border: none;
  color: black;
  padding: 0px 2px;
  text-align: center;
  text-decoration: none;
  font-size: small;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
}
